@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

:root {
  --bg-color: #0B1120;
  --primary-blue: #0099FF;
  --text-white: #ffffff;
  --text-gray: #9ca3af;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-white);
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar สวยๆ */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}